.home {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home.mobile {
  height: 100vh;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-card {
  width: 600px;
  height: 600px;
  max-height: 80vh;
  max-width: 90vw;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  box-sizing: content-box;
  padding-right: 17px;
}

.home-card-dark {
  width: 600px;
  height: 600px;
  max-height: 80vh;
  max-width: 90vw;
  background-color: rgb(42, 42, 42);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  box-sizing: content-box;
  padding-right: 17px;
}

.home-card-mobile {
  width: 400px;
  height: 600px;
  max-height: 75vh;
  max-width: 80vw;
  background-color: white;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  box-sizing: content-box;
  padding-right: 17px;
}

.home-card-mobile-dark {
  width: 400px;
  height: 600px;
  max-height: 75vh;
  max-width: 80vw;
  background-color: rgb(34, 34, 34);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  box-sizing: content-box;
  padding-right: 17px;
}

.home-card::-webkit-scrollbar,
.home-card-dark::-webkit-scrollbar {
  width: 0 !important; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.home-card-mobile::-webkit-scrollbar,
.home-card-mobile-dark::-webkit-scrollbar {
  width: 0 !important; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
