.playground {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.playground canvas {
  border: 20px solid rgb(44, 44, 44) !important;
}

.title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  width: 100vw;
  margin-top: 30px;
  box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.1);
  text-align: center;
}
