.action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: auto;
  width: 50vw;
}

.roll {
  width: 30vw !important;
  height: 100px !important;
  border-radius: 10px !important;
  font-size: 40px !important;
  font-weight: bold !important;
}

.action-mobile {
  text-align: center;
  height: auto;
  overflow-y: hidden;
}

.ant-drawer-mask {
  background-color: transparent !important;
}

.roll-drawer .ant-drawer-mask,
.action-drawer .ant-drawer-mask,
.action-drawer,
.roll-drawer {
  pointer-events: none !important;
}

.roll-drawer .ant-drawer-content-wrapper,
.action-drawer .ant-drawer-content-wrapper {
  pointer-events: auto;
}

.light-drawer .ant-drawer-content {
  background-color: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(7px) !important;
}

.ant-drawer-content {
  border-radius: 12px 12px 0px 0px;
  backdrop-filter: blur(7px) !important;
}

.ant-drawer-body::-webkit-scrollbar,
.ant-drawer-content-wrapper::-webkit-scrollbar {
  display: none !important;
}

.dark-drawer .ant-drawer-content {
  background-color: rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(7px) !important;
}

.blurView {
  backdrop-filter: blur(7px) !important;
}
