.persona {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 200px;
  padding: 10px;
}

.persona-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 80px;
  margin-top: -50px;
}

.avatar:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

.avatar {
  transform: scale(1);
  transition: 0.3s;
}
