.music-control {
  z-index: 1000;
  position: fixed;
  top: 10px;
  left: 10px;
}

.dark-mode-control {
  z-index: 1000;
  position: fixed;
  top: 10px;
  right: 10px;
}

.sound-switch .ant-switch-checked {
  background-color: #66c778;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  height: auto !important;
}

.info {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  border-radius: 4px;
  padding: 5px;
  backdrop-filter: blur(2px);
}

.tutorial-backdrop {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  opacity: 1;
  transition: 0.3s;
}

.tutorial-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.tutorial-backdrop .close-btn {
  position: absolute;
  top: 20px;
  left: auto;
}

.tutorial {
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  border-radius: 14px;
  width: calc(min(80vw, 80vh));
  aspect-ratio: 1/1;
}

.tutorial img {
  border-radius: 12px;
}

.close {
  opacity: 0;
}

.ant-modal-confirm-info .ant-modal-confirm-body > .anticon {
  display: none;
}

.ant-modal-content {
  aspect-ratio: 1/1 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.ant-modal-confirm-body .ant-modal-confirm-title {
  color: white !important;
}

.ant-modal-close {
  color: white !important;
}
/* 
.ant-modal-confirm .ant-modal-body {
  padding: 10px 0px 0px !important;
} */
